modules = ["python-3.11"]

[[ports]]
localPort = 5000
externalPort = 80

[nix]
packages = ["cairo", "cargo", "ffmpeg-full", "fontconfig", "freetype", "ghostscript", "glib", "glibcLocales", "gobject-introspection", "gtk3", "harfbuzz", "lcms2", "libiconv", "libimagequant", "libjpeg", "libsodium", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "pango", "pkg-config", "qhull", "rustc", "tcl", "tk", "zlib"]

[agent]
integrations = ["flask_stripe:1.0.0"]

[workflows]

[[workflows.workflow]]
name = "python3 main.py"
mode = "sequential"
author = 42135109

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"
